.step-container {
    background-color: white;
    padding: 50px;
    .table-view {
        border: 1px solid gray;
        padding: 20px;
        .table-row {
            padding: 5px;
            border-bottom: 1px solid lightblue;
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            cursor: pointer;
            &:hover {
                background-color: rgba(13, 86, 243, 0.993);
                color: white;
            }
        }
    }
}
